*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%, rgba(0,0,0,0.7)50%, url(image.jpg.jpg));
    background-position: center;
    background-size: cover;
    height: 200vh;

}

.navbar{
    width: 1000px;
    height: 60px;
    margin: auto;

}

.icon{
    width: 100px;
    float: left;
    height: 60px;

}

.logo{
    color: #a5215622;
    font-size: 40px;
    font-family: Arial;
    padding-left: 30px;
    float: left;
    padding-top: 20px;

}