body {
    font-family: Arial, sans-serif;
    background-color: #30262dff;
}

form {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 40rem;
    display: block;
    gap: 2rem;
}

form .form-container {
    gap: 1rem;
}

.name-container {}

.name-container>div {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

form>div>div,
.name-container div .firstname,
.name-container div .lastname {
    display: flex;
    justify-content: space-between;
}

form>div>div input {
    width: 20rem;
}

.name-container div .firstname input,
.name-container div .lastname input,
.name-container div .firstname label,
.name-container div .lastname label {
    width: 100%;
}