*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #30262dff;
}
h2{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
.name-row {
    background : red;
    display: flex;
    gap: 20px;
    margin-bottom: 1rem;
}

.form-group {
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
}