<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus Creation </title>
    <link rel="stylesheet" href="focus.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <div class="logo-container">
                <h2 class="logo">FOCUS CREATION</h2>

                <h1 class="tagline"> Your Trusted Digital Partner!</h1>
                
            </div>
        </div>
    </div>
    
</body>
</html>