* {
    padding: 0px;
    margin: 0px;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;

}



.navbar {
    width: 100px;
    height: 80px;
    float: left;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {
    width: 50px;
    height: 50px;
    background-image: url('icon.png');
    background-size: cover;
    background-position: center;
}

.logo {

    font-size: 35px;
    white-space: nowrap;
    margin-bottom: 35px;
    color: rgb(199, 88, 125);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;

}

.tagline {

    font-size: 20px;
    white-space: nowrap;
    color: rgb(148, 51, 127);
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;



}