{% extends 'loginbase.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
<h2>Sign-in</h2>

<form action="" method="post">
  {% csrf_token %}

  <div class="form-container">
    <div class="name-container">
      <div>
        <div class="firstname">
          <label for="FirstName">First Name:</label>
          <input type="text" id="FirstName" name="firstname" required />
        </div>
        <div class="lastname">
          <label for="LastName">Last Name:</label>
          <input type="text" id="LastName" name="lastname" required />
        </div>
      </div>
    </div>

    <div class="username">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>

    <div class="email">
      <label for="email">Email ID:</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="password">
      <label for="Password">Password:</label>
      <input type="password" id="Password" name="password" required />
    </div>

    <input type="submit" value="Sign In" />
  </div>
</form>

{% endblock %}